/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100&family=Playfair+Display&display=swap");

body {
  background-color: #898c8d;
  font-size: 16px;
  margin: 0 auto;
  border: 1em solid #496166;
}

header, main, footer{
  max-width: 1000px;
  margin: 10 auto;
}

header,
footer {
  margin: 0.5rem;
  border: 1px solid #81bbbd;
  padding: .5rem;
  background-color: #d7ceb2;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

header img{
  float: right;
  height: 300px;
  width: auto;
}

h1 {
  color: #4c5760;
  background-color: #d7ceb2;
  font-family: "Great Vibes", sans-serif;
  font-size: 3rem;
  line-height: 1.1rem;
  text-align: center;
  padding: 10px;
}

a {
  color: #60837d;
  text-decoration: none;
  padding: 0.5em 0.5em;
  line-height: 1.75em;
}

li {
  font-family: "Playfair Display", Helvetica, Cursive;
  font-size: 1.45em;
}
ul {
  margin: 0;
  list-style: none;
}

a:hover {
  background-color: #93a8ac;
  color: #0c3c59;
}

.info {
  color: #0c3c59;
  border: none;
  background-color: none;
}

.border {
  border: 1em solid black;
  width: 500px;
  height: 375px;
}